.path-news {

  .view-id-news .form-group {
    margin-left: -($grid-gutter-width / 2);
    margin-right: -($grid-gutter-width / 2);
  }

  .new-column {
    a, a:focus, a:hover {
      text-decoration: none;
      color: $black;
    }
  }

  .new-content {
    display: block;
  }

  a .new-title {
    @include H3;
  }

  .new-date {
    font-family: SourceSansPro;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #a5a9af;
  }
  .new-date {
    padding-top: 16px;
  }

  .field--name-body {
    display: none;
    @include Body-text;
    color: $white;
  }

  .read-more {
    display: none;
    color: $brownish-orange;
    width: 105px;
    @include fleur-font(icon-16-chevron-right-primary);

    &:before {
      float: right;
      font-size: 10px;
      line-height: 18px;
    }
  }

  .pager {
    a {
      @include Label-Big;
      border: 2px solid $black;
      border-radius: unset;
      padding: 15px 10px;
      width: 220px;
    }
  }
}

@media #{$mobile} {
  .path-news {

    .view-id-news .form-group {
      padding-left: $grid-gutter-width / 2;
      padding-right: $grid-gutter-width / 2;
    }

    .title {
      text-align: center;
      padding: 0 8px;

      h2 {
        margin-top: 40px;
        margin-bottom: 40px;
      }
    }

    .new-text {
      margin-top: 16px;
      margin-bottom: 24px;
    }

    .new-column.new-1 {
      .new-content {
        background-image: unset !important;
      }

      .field--name-body, .read-more {
        display: none;
      }
    }

    .pager {
      padding: 0 8px;

      a {
        width: 100%;
      }
    }
  }
}

@media #{$tablet} {
  .path-news {
    .new-text {
      margin-top: 24px;
      margin-bottom: 48px;
      height: 140px;
      max-height: 140px;
    }

    .new-column.new-1 {
      width: 100%;
      margin-top: 40px;
      margin-bottom: 40px;

      .new-content {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        height: 420px;
        margin-right: 416px;
      }

      img {
        display: none;
      }

      .new-text {
        margin: 0;
        background-color: $black;
        position: absolute;
        right: -416px;
        width: 416px;
        padding: 32px;
        max-height: 100%;
        height: 100%;
      }

      .new-title {
        @include H2;
        color: $white;
      }

      .new-date {
        padding-bottom: 16px;
      }

      .field--name-body {
        display: block;
      }

      .read-more {
        display: inline-block;
      }
    }
  }
}

@media #{$normal} {
  .path-news {

  }
}

@media #{$wide} {
  .path-news {
    .view-id-news .form-group {
      margin-left: -($grid-gutter-large-width / 2);
      margin-right: -($grid-gutter-large-width / 2);
    }
  }
}
