@mixin sprite-content {
  background-image: url("../images/sprite.svg");
  background-repeat: no-repeat;
  vertical-align: top;
  display: inline-block;
  content: ' ';
}

.fleur-icon-16-calendar-primary {
  display: inline-block;
  width: 16px;
  height: 16px;
  &:before {
    @include sprite-content;
    background-position: 96.7741935483871% 85.71428571428571%;
    width: 16px;
    height: 16px;
  }
}
.fleur-icon-24-toggle-off {
  display: inline-block;
  width: 48px;
  height: 24px;
  &:before {
    @include sprite-content;
    background-position: 0 0;
    width: 48px;
    height: 24px;
  }
}
.fleur-icon-24-toggle-on {
  display: inline-block;
  width: 48px;
  height: 24px;
  &:before {
    @include sprite-content;
    background-position: 0 50%;
    width: 48px;
    height: 24px;
  }
}
.fleur-icon-cart-black {
  display: inline-block;
  width: 30px;
  height: 24px;
  &:before {
    @include sprite-content;
    background-position: 100% 0;
    width: 30px;
    height: 24px;
  }
}
.fleur-icon-cart-black-full {
  display: inline-block;
  width: 30px;
  height: 24px;
  &:before {
    @include sprite-content;
    background-position: 100% 50%;
    width: 30px;
    height: 24px;
  }
}
.fleur-icon-cart-white {
  display: inline-block;
  width: 30px;
  height: 24px;
  &:before {
    @include sprite-content;
    background-position: 0 100%;
    width: 30px;
    height: 24px;
  }
}
.fleur-icon-cart-white-full {
  display: inline-block;
  width: 30px;
  height: 24px;
  &:before {
    @include sprite-content;
    background-position: 62.5% 100%;
    width: 30px;
    height: 24px;
  }
}
