@font-face {
  font-family: "FleurIcons";
  src: url('#{$theme-root}/fonts/FleurIcons/FleurIcons.eot');
  src: url('#{$theme-root}/fonts/FleurIcons/FleurIcons.eot?#iefix') format('eot'),
  url('#{$theme-root}/fonts/FleurIcons/FleurIcons.woff') format('woff'),
  url('#{$theme-root}/fonts/FleurIcons/FleurIcons.ttf') format('truetype'),
  url('#{$theme-root}/fonts/FleurIcons/FleurIcons.svg#FleurIcons') format('svg');
}

@mixin fleur-font-styles {
  font-family: "FleurIcons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
  text-decoration: none;
  text-transform: none;
}

%fleur-font {
  @include fleur-font-styles;
}

@function fleur-font-char($filename) {
  $char: "";

  @if $filename == icon-16-arrow-down-primary {
  $char: "\E001";
}
  @if $filename == icon-16-arrow-left-primary {
  $char: "\E002";
}
  @if $filename == icon-16-arrow-right-primary {
  $char: "\E003";
}
  @if $filename == icon-16-arrow-up-primary {
  $char: "\E004";
}
  @if $filename == icon-16-arrow-up-primary_2 {
  $char: "\E005";
}
  @if $filename == icon-16-bullet-primary {
  $char: "\E006";
}
  @if $filename == icon-16-burger-primary {
  $char: "\E007";
}
  @if $filename == icon-16-calendar-primary {
  $char: "\E008";
}
  @if $filename == icon-16-check-primary {
  $char: "\E009";
}
  @if $filename == icon-16-chevron-down-primary {
  $char: "\E00A";
}
  @if $filename == icon-16-chevron-left-primary {
  $char: "\E00B";
}
  @if $filename == icon-16-chevron-right-primary {
  $char: "\E00C";
}
  @if $filename == icon-16-chevron-up-primary {
  $char: "\E00D";
}
  @if $filename == icon-16-close-primary {
  $char: "\E00E";
}
  @if $filename == icon-16-delete-primary {
  $char: "\E00F";
}
  @if $filename == icon-16-error-error {
  $char: "\E010";
}
  @if $filename == icon-16-info-primary {
  $char: "\E011";
}
  @if $filename == icon-16-minus-primary {
  $char: "\E012";
}
  @if $filename == icon-16-navigate-white {
  $char: "\E013";
}
  @if $filename == icon-16-plus-primary {
  $char: "\E014";
}
  @if $filename == icon-16-refresh-primary {
  $char: "\E015";
}
  @if $filename == icon-16-search-primary {
  $char: "\E016";
}
  @if $filename == icon-16-success-success {
  $char: "\E017";
}
  @if $filename == icon-16-user-primary {
  $char: "\E018";
}
  @if $filename == icon-16-warning-warning {
  $char: "\E019";
}
  @if $filename == icon-16-zoom-in-primary {
  $char: "\E01A";
}
  @if $filename == icon-16-zoom-out-primary {
  $char: "\E01B";
}
  @if $filename == icon-24-arrow-down-primary {
  $char: "\E01C";
}
  @if $filename == icon-24-arrow-left-primary {
  $char: "\E01D";
}
  @if $filename == icon-24-arrow-right-primary {
  $char: "\E01E";
}
  @if $filename == icon-24-burger-primary {
  $char: "\E01F";
}
  @if $filename == icon-24-call-primary {
  $char: "\E020";
}
  @if $filename == icon-24-check-active-primary {
  $char: "\E021";
}
  @if $filename == icon-24-check-error-error {
  $char: "\E022";
}
  @if $filename == icon-24-check-hover-primary {
  $char: "\E023";
}
  @if $filename == icon-24-check-primary {
  $char: "\E024";
}
  @if $filename == icon-24-check-standard-grey-300 {
  $char: "\E025";
}
  @if $filename == icon-24-chevron-down-primary {
  $char: "\E026";
}
  @if $filename == icon-24-chevron-left-primary {
  $char: "\E027";
}
  @if $filename == icon-24-chevron-right-primary {
  $char: "\E028";
}
  @if $filename == icon-24-chevron-up-primary {
  $char: "\E029";
}
  @if $filename == icon-24-close-primary {
  $char: "\E02A";
}
  @if $filename == icon-24-delivery-white {
  $char: "\E02B";
}
  @if $filename == icon-24-dropbox-primary {
  $char: "\E02C";
}
  @if $filename == icon-24-email-primary {
  $char: "\E02D";
}
  @if $filename == icon-24-email-primary_2 {
  $char: "\E02E";
}
  @if $filename == icon-24-facebook-primary {
  $char: "\E02F";
}
  @if $filename == icon-24-google-primary {
  $char: "\E030";
}
  @if $filename == icon-24-info-primary {
  $char: "\E031";
}
  @if $filename == icon-24-linkedin-primary {
  $char: "\E032";
}
  @if $filename == icon-24-location-primary-copy {
  $char: "\E033";
}
  @if $filename == icon-24-minus-primary {
  $char: "\E034";
}
  @if $filename == icon-24-plus-primary {
  $char: "\E035";
}
  @if $filename == icon-24-radio-active-primary {
  $char: "\E036";
}
  @if $filename == icon-24-radio-error-error {
  $char: "\E037";
}
  @if $filename == icon-24-radio-hover-primary {
  $char: "\E038";
}
  @if $filename == icon-24-radio-standard-grey-300 {
  $char: "\E039";
}
  @if $filename == icon-24-search-primary {
  $char: "\E03A";
}
  @if $filename == icon-24-toggle-off {
  $char: "\E03B";
}
  @if $filename == icon-24-toggle-on {
  $char: "\E03C";
}
  @if $filename == icon-24-twitter-primary {
  $char: "\E03D";
}
  @if $filename == icon-24-user-primary {
  $char: "\E03E";
}
  @if $filename == icon-24-whatsapp-primary {
  $char: "\E03F";
}
  @if $filename == icon-24-world-white {
  $char: "\E040";
}
  @if $filename == icon-24-zoom-in-primary {
  $char: "\E041";
}
  @if $filename == icon-24-zoom-out-primary {
  $char: "\E042";
}
  @if $filename == icon-32-facebook-primary {
  $char: "\E043";
}
  @if $filename == icon-32-facebook-white {
  $char: "\E044";
}
  @if $filename == icon-32-instagram-primary {
  $char: "\E045";
}
  @if $filename == icon-32-instagram-white {
  $char: "\E046";
}
  @if $filename == icon-32-twitter-primary {
  $char: "\E047";
}
  @if $filename == icon-32-twitter-white {
  $char: "\E048";
}
  @if $filename == icon-cart-black-full {
  $char: "\E049";
}
  @if $filename == icon-cart-black {
  $char: "\E04A";
}
  @if $filename == icon-cart-white {
  $char: "\E04B";
}
  @if $filename == icon-delivery {
  $char: "\E04C";
}
  @if $filename == icon-quality {
  $char: "\E04D";
}
  @if $filename == icon-reliable {
  $char: "\E04E";
}

@return $char;
}

@mixin fleur-font($filename, $insert: before, $extend: true) {
&:#{$insert} {
  @if $extend {
    @extend %fleur-font;
  } @else {
    @include fleur-font-styles;
  }
  content: fleur-font-char($filename);
}
}

.fleur-font-icon-16-arrow-down-primary {
  @include fleur-font(icon-16-arrow-down-primary);
}
.fleur-font-icon-16-arrow-left-primary {
  @include fleur-font(icon-16-arrow-left-primary);
}
.fleur-font-icon-16-arrow-right-primary {
  @include fleur-font(icon-16-arrow-right-primary);
}
.fleur-font-icon-16-arrow-up-primary {
  @include fleur-font(icon-16-arrow-up-primary);
}
.fleur-font-icon-16-arrow-up-primary_2 {
  @include fleur-font(icon-16-arrow-up-primary_2);
}
.fleur-font-icon-16-bullet-primary {
  @include fleur-font(icon-16-bullet-primary);
}
.fleur-font-icon-16-burger-primary {
  @include fleur-font(icon-16-burger-primary);
}
.fleur-font-icon-16-calendar-primary {
  @include fleur-font(icon-16-calendar-primary);
}
.fleur-font-icon-16-check-primary {
  @include fleur-font(icon-16-check-primary);
}
.fleur-font-icon-16-chevron-down-primary {
  @include fleur-font(icon-16-chevron-down-primary);
}
.fleur-font-icon-16-chevron-left-primary {
  @include fleur-font(icon-16-chevron-left-primary);
}
.fleur-font-icon-16-chevron-right-primary {
  @include fleur-font(icon-16-chevron-right-primary);
}
.fleur-font-icon-16-chevron-up-primary {
  @include fleur-font(icon-16-chevron-up-primary);
}
.fleur-font-icon-16-close-primary {
  @include fleur-font(icon-16-close-primary);
}
.fleur-font-icon-16-delete-primary {
  @include fleur-font(icon-16-delete-primary);
}
.fleur-font-icon-16-error-error {
  @include fleur-font(icon-16-error-error);
}
.fleur-font-icon-16-info-primary {
  @include fleur-font(icon-16-info-primary);
}
.fleur-font-icon-16-minus-primary {
  @include fleur-font(icon-16-minus-primary);
}
.fleur-font-icon-16-navigate-white {
  @include fleur-font(icon-16-navigate-white);
}
.fleur-font-icon-16-plus-primary {
  @include fleur-font(icon-16-plus-primary);
}
.fleur-font-icon-16-refresh-primary {
  @include fleur-font(icon-16-refresh-primary);
}
.fleur-font-icon-16-search-primary {
  @include fleur-font(icon-16-search-primary);
}
.fleur-font-icon-16-success-success {
  @include fleur-font(icon-16-success-success);
}
.fleur-font-icon-16-user-primary {
  @include fleur-font(icon-16-user-primary);
}
.fleur-font-icon-16-warning-warning {
  @include fleur-font(icon-16-warning-warning);
}
.fleur-font-icon-16-zoom-in-primary {
  @include fleur-font(icon-16-zoom-in-primary);
}
.fleur-font-icon-16-zoom-out-primary {
  @include fleur-font(icon-16-zoom-out-primary);
}
.fleur-font-icon-24-arrow-down-primary {
  @include fleur-font(icon-24-arrow-down-primary);
}
.fleur-font-icon-24-arrow-left-primary {
  @include fleur-font(icon-24-arrow-left-primary);
}
.fleur-font-icon-24-arrow-right-primary {
  @include fleur-font(icon-24-arrow-right-primary);
}
.fleur-font-icon-24-burger-primary {
  @include fleur-font(icon-24-burger-primary);
}
.fleur-font-icon-24-call-primary {
  @include fleur-font(icon-24-call-primary);
}
.fleur-font-icon-24-check-active-primary {
  @include fleur-font(icon-24-check-active-primary);
}
.fleur-font-icon-24-check-error-error {
  @include fleur-font(icon-24-check-error-error);
}
.fleur-font-icon-24-check-hover-primary {
  @include fleur-font(icon-24-check-hover-primary);
}
.fleur-font-icon-24-check-primary {
  @include fleur-font(icon-24-check-primary);
}
.fleur-font-icon-24-check-standard-grey-300 {
  @include fleur-font(icon-24-check-standard-grey-300);
}
.fleur-font-icon-24-chevron-down-primary {
  @include fleur-font(icon-24-chevron-down-primary);
}
.fleur-font-icon-24-chevron-left-primary {
  @include fleur-font(icon-24-chevron-left-primary);
}
.fleur-font-icon-24-chevron-right-primary {
  @include fleur-font(icon-24-chevron-right-primary);
}
.fleur-font-icon-24-chevron-up-primary {
  @include fleur-font(icon-24-chevron-up-primary);
}
.fleur-font-icon-24-close-primary {
  @include fleur-font(icon-24-close-primary);
}
.fleur-font-icon-24-delivery-white {
  @include fleur-font(icon-24-delivery-white);
}
.fleur-font-icon-24-dropbox-primary {
  @include fleur-font(icon-24-dropbox-primary);
}
.fleur-font-icon-24-email-primary {
  @include fleur-font(icon-24-email-primary);
}
.fleur-font-icon-24-email-primary_2 {
  @include fleur-font(icon-24-email-primary_2);
}
.fleur-font-icon-24-facebook-primary {
  @include fleur-font(icon-24-facebook-primary);
}
.fleur-font-icon-24-google-primary {
  @include fleur-font(icon-24-google-primary);
}
.fleur-font-icon-24-info-primary {
  @include fleur-font(icon-24-info-primary);
}
.fleur-font-icon-24-linkedin-primary {
  @include fleur-font(icon-24-linkedin-primary);
}
.fleur-font-icon-24-location-primary-copy {
  @include fleur-font(icon-24-location-primary-copy);
}
.fleur-font-icon-24-minus-primary {
  @include fleur-font(icon-24-minus-primary);
}
.fleur-font-icon-24-plus-primary {
  @include fleur-font(icon-24-plus-primary);
}
.fleur-font-icon-24-radio-active-primary {
  @include fleur-font(icon-24-radio-active-primary);
}
.fleur-font-icon-24-radio-error-error {
  @include fleur-font(icon-24-radio-error-error);
}
.fleur-font-icon-24-radio-hover-primary {
  @include fleur-font(icon-24-radio-hover-primary);
}
.fleur-font-icon-24-radio-standard-grey-300 {
  @include fleur-font(icon-24-radio-standard-grey-300);
}
.fleur-font-icon-24-search-primary {
  @include fleur-font(icon-24-search-primary);
}
.fleur-font-icon-24-toggle-off {
  @include fleur-font(icon-24-toggle-off);
}
.fleur-font-icon-24-toggle-on {
  @include fleur-font(icon-24-toggle-on);
}
.fleur-font-icon-24-twitter-primary {
  @include fleur-font(icon-24-twitter-primary);
}
.fleur-font-icon-24-user-primary {
  @include fleur-font(icon-24-user-primary);
}
.fleur-font-icon-24-whatsapp-primary {
  @include fleur-font(icon-24-whatsapp-primary);
}
.fleur-font-icon-24-world-white {
  @include fleur-font(icon-24-world-white);
}
.fleur-font-icon-24-zoom-in-primary {
  @include fleur-font(icon-24-zoom-in-primary);
}
.fleur-font-icon-24-zoom-out-primary {
  @include fleur-font(icon-24-zoom-out-primary);
}
.fleur-font-icon-32-facebook-primary {
  @include fleur-font(icon-32-facebook-primary);
}
.fleur-font-icon-32-facebook-white {
  @include fleur-font(icon-32-facebook-white);
}
.fleur-font-icon-32-instagram-primary {
  @include fleur-font(icon-32-instagram-primary);
}
.fleur-font-icon-32-instagram-white {
  @include fleur-font(icon-32-instagram-white);
}
.fleur-font-icon-32-twitter-primary {
  @include fleur-font(icon-32-twitter-primary);
}
.fleur-font-icon-32-twitter-white {
  @include fleur-font(icon-32-twitter-white);
}
.fleur-font-icon-cart-black-full {
  @include fleur-font(icon-cart-black-full);
}
.fleur-font-icon-cart-black {
  @include fleur-font(icon-cart-black);
}
.fleur-font-icon-cart-white {
  @include fleur-font(icon-cart-white);
}
.fleur-font-icon-delivery {
  @include fleur-font(icon-delivery);
}
.fleur-font-icon-quality {
  @include fleur-font(icon-quality);
}
.fleur-font-icon-reliable {
  @include fleur-font(icon-reliable);
}
