.paragraph-image .paragraph-content {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

@media #{$mobile} {
  .paragraph-image .paragraph-content {
    height: 240px;
  }
}

@media #{$tablet} {
  .paragraph-image .paragraph-content {
    height: 370px;
  }
}

@media #{$wide} {
  .paragraph-image .paragraph-content {
    height: 500px;
  }
}
