.cta-banner {
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;

  .paragraph .field {
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: $white;
    margin: auto;
  }

  .button-wrapper {
    padding: 24px;
  }

  .info {
    background: $black;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .info .row {
    width: 100%;
    height: 100%;
    padding: 19px 0;
    margin: 0;
  }

  .info span {
    vertical-align: top;
  }

  .info .icon {
    font-size: 20px;
  }

  .info .label-small {
    font-weight: normal;
    color: $white;
  }
  .info .row > div {
    display: inline-block;
    margin: auto;
    padding: 0;
    text-align: left;
  }
  .arrow-down {
    width: 100%;
    position: absolute;
    bottom: 178px;
    span {
      margin: auto;
      width: 24px;
      font-size: 24px;
      display: block;
    }
  }
  .home-indicator {
    position: absolute;
    bottom: 14px;
    width: 100%;

    .home-indicator-row {
      width: 134px;
      height: 5px;
      border-radius: 100px;
      background-color: #000000;
      display: block;
      margin: auto;
    }
  }
}

.field--name-field-banner-title {
  @include Display-1;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  width: 80%;
}

.field--name-field-banner-description{
  @include Leading-text;
  width: 50%;
}

#block-place-your-order-banner {
  width: 220px;
  height: 48px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.5);
  background-color: $brownish-orange;
  display: block;
  position: relative;
  margin: auto;
  @include Label-Big;

  p {
    padding: 15px 15px;
  }
}

@media #{$mobile} {
  .cta-banner {
    height: 713px;

    .paragraph {
      padding-top: 120px;
    }
    .info, .info .container {
      height: 154px;
    }
    .info .icon {
      padding-right: 16px;
    }
    .info .row {
      padding: 16px 8px;
    }
    .info .row > div {
      text-align: left;
      float: none;
      width: 450px;
      display: block;
    }
    .info .row > div:first-child {
      padding-bottom: 16px;
    }
  }
  .field--name-field-banner-title {
    font-size: 40px;
    width: 90%;
  }
  .field--name-field-banner-description {
    font-size: 20px;
    padding-top: 8px;
    width: 90%;
  }
}

@media (max-width: 480px) {
  .cta-banner {
    .info .icon {
      height: 100%;
    }
    .info .row > div {
      width: auto;
    }
    .info .icon {
      width: 12%;
    }
    .info .icon-description{
      width: 85%;
    }
    .info span {
      display: inline-block;
    }
    .button-wrapper {
      padding: 24px 0;
    }
  }
  #block-place-your-order-banner {
    width: 100%;
  }
}

@media #{$tablet} {
  .cta-banner {
    .info, .info .container {
      height: 100px;
    }
    .paragraph {
      padding-top: 120px;
    }
    .info .row > div:first-child {
      padding-bottom: 16px;
    }
    .info .icon {
      padding-right: 16px;
    }
  }
  .field--name-field-banner-title {
    font-size: 50px;
  }
  .field--name-field-banner-description {
    font-size: 24px;
    padding-top: 24px;
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .cta-banner {
    .info .row > div {
      text-align: left;
      float: none;
      width: 450px;
      display: block;
    }
  }
}

@media #{$normal} {
  .cta-banner {
    .info, .info .container {
      height: 56px;
    }
    .paragraph {
      padding-top: 140px;
    }
    .info .icon {
      padding: 0 16px;
    }
  }
  .info .row > div:first-child {
    text-align: right;
  }
}

@media #{$wide} {
  .cta-banner .paragraph {
    padding-top: 166px;
  }
}
