.wide-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

@media #{$mobile} {
  .wide-image {
    height: 240px;
  }
}

@media #{$tablet} {
  .wide-image {
    height: 420px;
  }
}

@media #{$wide} {
  .wide-image {
    height: 600px;
  }
}