.radio label, .checkbox label {
  padding-left: 32px;
}

.input-radio {
  position: relative;
  @include fleur-font(icon-24-radio-hover-primary);

  &:before {
    position: absolute;
    left: 0;
    font-size: 24px;
    line-height: 24px;
    color: $brownish-orange;

  }

  input {
    visibility: hidden;
  }
}

.input-radio.checked {
  @include fleur-font(icon-24-radio-active-primary);

  &:after {
    $radius: 6px;
    content: "";
    position: absolute;
    background-color: $brownish-orange;
    width: 2*$radius;
    height: 2*$radius;
    top: $radius;
    left: $radius;
    border-radius: $radius;
  }
}

.input-checkbox {
  position: relative;
  @include fleur-font(icon-24-check-hover-primary);

  &:before {
    position: absolute;
    left: 0;
    font-size: 24px;
    line-height: 24px;
    color: $brownish-orange;

  }

  input {
    visibility: hidden;
  }
}

.input-checkbox.checked {
  @include fleur-font(icon-24-check-active-primary);
}
