ol.breadcrumb {
  background-color: transparent;
  border: none;
  border-radius: unset;
  color: $black;
  padding: 40px 0;
  margin-bottom: 0;
  @include Label-Big;

  .active {
    color: $black;
  }

  & > li {
    position: relative;
    @include fleur-font(icon-16-chevron-right-primary);

    &:before {
      color: $brownish-orange;
      font-size: 16px;
      line-height: 16px;
    }

    &:first-child:before {
      content: unset;
    }

    &.active:after {
      content: "";
      position: absolute;
      display: block;
      bottom: -4px;
      margin-left: 30px;
      width: 90%;
      border-bottom: 2px solid $black;
    }
  }
}

@media #{$mobile} {
  ol.breadcrumb {
    display: none;
  }
}
