.fleur-contact-map {
  .map-info {
    text-align: center;
    padding: 24px;
    margin-top: 40px;
    display: none;

    .info-description {
      font-size: 24px;
      font-weight: 600;
      line-height: 1.17;
      padding: 16px;
    }

    a {
      display: block;
      width: 100%;
      background-color: $brownish-orange;
      padding: 15px;
    }

    a, a:focus, a:hover {
      text-decoration: none;
      color: $white;
    }
  }

  .fleur-google-map {
    height: 520px;
    width: 100%;
    margin: 80px 0 -80px;

    .map-info {
      display: block;
    }
  }
}

/* The location pointed to by the popup tip. */
.popup-tip-anchor {
  position: absolute;
  /* The max width of the info window. */
  min-width: 350px;
}
/* The bubble is anchored above the tip. */
.popup-bubble-anchor {
  position: absolute;
  width: 100%;
  bottom: /* TIP_HEIGHT= */ 8px;
  left: 0;
}
/* Draw the tip. */
.popup-bubble-anchor::after {
  content: "";
  position: absolute;
  bottom: -48px;
  left: 0;
  /* Center the tip horizontally. */
  transform: translate(-50%, 0);
  /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
  width: 0;
  height: 0;
  /* The tip is 8px high, and 12px wide. */
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: /* TIP_HEIGHT= */ 8px solid $black;
}
/* The popup bubble itself. */
.popup-bubble-content {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -100%);
}

@media #{$mobile} {
  .fleur-contact-map {

    .map-info {
      display: block;
      padding: 40px 16px;
    }

    .fleur-google-map {
      height: 400px;
      margin-top: 0;
    }

    .popup-bubble-anchor {
      display: none;
    }
  }
}
