@font-face {
  font-family: 'Taviraj';
  src: url('#{$theme-root}/fonts/Taviraj/Taviraj-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('#{$theme-root}/fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf') format('truetype');
  src: url('#{$theme-root}/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf') format('truetype');
}