%svg-common {
	background: url("svg/sprite.css-985367c9.svg") no-repeat;
}

.svg-icon-16-arrow-down-primary {
	@extend %svg-common;
	background-position: 20% 100%;
}

.svg-icon-16-arrow-down-primary-dims {
	width: 16px;
	height: 16px;
}

.svg-icon-16-arrow-left-primary {
	@extend %svg-common;
	background-position: 56.666666666666664% 90%;
}

.svg-icon-16-arrow-left-primary-dims {
	width: 16px;
	height: 16px;
}

.svg-icon-16-arrow-right-primary {
	@extend %svg-common;
	background-position: 13.333333333333334% 100%;
}

.svg-icon-16-arrow-right-primary-dims {
	width: 16px;
	height: 16px;
}

.svg-icon-16-arrow-up-primary {
	@extend %svg-common;
	background-position: 6.666666666666667% 100%;
}

.svg-icon-16-arrow-up-primary-dims {
	width: 16px;
	height: 16px;
}

.svg-icon-16-arrow-up-primary_2 {
	@extend %svg-common;
	background-position: 26.724137931034484% 68.96551724137932%;
}

.svg-icon-16-arrow-up-primary_2-dims {
	width: 24px;
	height: 24px;
}

.svg-icon-16-bullet-primary {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-icon-16-bullet-primary-dims {
	width: 16px;
	height: 16px;
}

.svg-icon-16-burger-primary {
	@extend %svg-common;
	background-position: 100% 93.33333333333333%;
}

.svg-icon-16-burger-primary-dims {
	width: 16px;
	height: 16px;
}

.svg-icon-16-calendar-primary {
	@extend %svg-common;
	background-position: 100% 86.66666666666667%;
}

.svg-icon-16-calendar-primary-dims {
	width: 16px;
	height: 16px;
}

.svg-icon-16-check-primary {
	@extend %svg-common;
	background-position: 100% 80%;
}

.svg-icon-16-check-primary-dims {
	width: 16px;
	height: 16px;
}

.svg-icon-16-chevron-down-primary {
	@extend %svg-common;
	background-position: 100% 73.33333333333333%;
}

.svg-icon-16-chevron-down-primary-dims {
	width: 16px;
	height: 16px;
}

.svg-icon-16-chevron-left-primary {
	@extend %svg-common;
	background-position: 100% 66.66666666666667%;
}

.svg-icon-16-chevron-left-primary-dims {
	width: 16px;
	height: 16px;
}

.svg-icon-16-chevron-right-primary {
	@extend %svg-common;
	background-position: 100% 60%;
}

.svg-icon-16-chevron-right-primary-dims {
	width: 16px;
	height: 16px;
}

.svg-icon-16-chevron-up-primary {
	@extend %svg-common;
	background-position: 100% 53.333333333333336%;
}

.svg-icon-16-chevron-up-primary-dims {
	width: 16px;
	height: 16px;
}

.svg-icon-16-close-primary {
	@extend %svg-common;
	background-position: 100% 46.666666666666664%;
}

.svg-icon-16-close-primary-dims {
	width: 16px;
	height: 16px;
}

.svg-icon-16-delete-primary {
	@extend %svg-common;
	background-position: 50% 90%;
}

.svg-icon-16-delete-primary-dims {
	width: 16px;
	height: 16px;
}

.svg-icon-16-error-error {
	@extend %svg-common;
	background-position: 100% 33.333333333333336%;
}

.svg-icon-16-error-error-dims {
	width: 16px;
	height: 16px;
}

.svg-icon-16-info-primary {
	@extend %svg-common;
	background-position: 100% 26.666666666666668%;
}

.svg-icon-16-info-primary-dims {
	width: 16px;
	height: 16px;
}

.svg-icon-16-minus-primary {
	@extend %svg-common;
	background-position: 100% 20%;
}

.svg-icon-16-minus-primary-dims {
	width: 16px;
	height: 16px;
}

.svg-icon-16-navigate-white {
	@extend %svg-common;
	background-position: 100% 13.333333333333334%;
}

.svg-icon-16-navigate-white-dims {
	width: 16px;
	height: 16px;
}

.svg-icon-16-plus-primary {
	@extend %svg-common;
	background-position: 100% 6.666666666666667%;
}

.svg-icon-16-plus-primary-dims {
	width: 16px;
	height: 16px;
}

.svg-icon-16-refresh-primary {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-icon-16-refresh-primary-dims {
	width: 16px;
	height: 16px;
}

.svg-icon-16-search-primary {
	@extend %svg-common;
	background-position: 90% 90%;
}

.svg-icon-16-search-primary-dims {
	width: 16px;
	height: 16px;
}

.svg-icon-16-success-success {
	@extend %svg-common;
	background-position: 83.33333333333333% 90%;
}

.svg-icon-16-success-success-dims {
	width: 16px;
	height: 16px;
}

.svg-icon-16-user-primary {
	@extend %svg-common;
	background-position: 76.66666666666667% 90%;
}

.svg-icon-16-user-primary-dims {
	width: 16px;
	height: 16px;
}

.svg-icon-16-warning-warning {
	@extend %svg-common;
	background-position: 70% 90%;
}

.svg-icon-16-warning-warning-dims {
	width: 16px;
	height: 16px;
}

.svg-icon-16-zoom-in-primary {
	@extend %svg-common;
	background-position: 63.333333333333336% 90%;
}

.svg-icon-16-zoom-in-primary-dims {
	width: 16px;
	height: 16px;
}

.svg-icon-16-zoom-out-primary {
	@extend %svg-common;
	background-position: 100% 40%;
}

.svg-icon-16-zoom-out-primary-dims {
	width: 16px;
	height: 16px;
}

.svg-icon-24-arrow-down-primary {
	@extend %svg-common;
	background-position: 82.75862068965517% 62.06896551724138%;
}

.svg-icon-24-arrow-down-primary-dims {
	width: 24px;
	height: 24px;
}

.svg-icon-24-arrow-left-primary {
	@extend %svg-common;
	background-position: 82.75862068965517% 72.41379310344827%;
}

.svg-icon-24-arrow-left-primary-dims {
	width: 24px;
	height: 24px;
}

.svg-icon-24-arrow-right-primary {
	@extend %svg-common;
	background-position: 0 82.75862068965517%;
}

.svg-icon-24-arrow-right-primary-dims {
	width: 24px;
	height: 24px;
}

.svg-icon-24-burger-primary {
	@extend %svg-common;
	background-position: 10.344827586206897% 82.75862068965517%;
}

.svg-icon-24-burger-primary-dims {
	width: 24px;
	height: 24px;
}

.svg-icon-24-call-primary {
	@extend %svg-common;
	background-position: 20.689655172413794% 82.75862068965517%;
}

.svg-icon-24-call-primary-dims {
	width: 24px;
	height: 24px;
}

.svg-icon-24-check-active-primary {
	@extend %svg-common;
	background-position: 31.03448275862069% 82.75862068965517%;
}

.svg-icon-24-check-active-primary-dims {
	width: 24px;
	height: 24px;
}

.svg-icon-24-check-error-error {
	@extend %svg-common;
	background-position: 41.37931034482759% 82.75862068965517%;
}

.svg-icon-24-check-error-error-dims {
	width: 24px;
	height: 24px;
}

.svg-icon-24-check-hover-primary {
	@extend %svg-common;
	background-position: 51.724137931034484% 82.75862068965517%;
}

.svg-icon-24-check-hover-primary-dims {
	width: 24px;
	height: 24px;
}

.svg-icon-24-check-primary {
	@extend %svg-common;
	background-position: 62.06896551724138% 82.75862068965517%;
}

.svg-icon-24-check-primary-dims {
	width: 24px;
	height: 24px;
}

.svg-icon-24-check-standard-grey-300 {
	@extend %svg-common;
	background-position: 72.41379310344827% 82.75862068965517%;
}

.svg-icon-24-check-standard-grey-300-dims {
	width: 24px;
	height: 24px;
}

.svg-icon-24-chevron-down-primary {
	@extend %svg-common;
	background-position: 82.75862068965517% 82.75862068965517%;
}

.svg-icon-24-chevron-down-primary-dims {
	width: 24px;
	height: 24px;
}

.svg-icon-24-chevron-left-primary {
	@extend %svg-common;
	background-position: 93.10344827586206% 0;
}

.svg-icon-24-chevron-left-primary-dims {
	width: 24px;
	height: 24px;
}

.svg-icon-24-chevron-right-primary {
	@extend %svg-common;
	background-position: 68.10344827586206% 68.96551724137932%;
}

.svg-icon-24-chevron-right-primary-dims {
	width: 24px;
	height: 24px;
}

.svg-icon-24-chevron-up-primary {
	@extend %svg-common;
	background-position: 93.10344827586206% 20.689655172413794%;
}

.svg-icon-24-chevron-up-primary-dims {
	width: 24px;
	height: 24px;
}

.svg-icon-24-close-primary {
	@extend %svg-common;
	background-position: 93.10344827586206% 31.03448275862069%;
}

.svg-icon-24-close-primary-dims {
	width: 24px;
	height: 24px;
}

.svg-icon-24-delivery-white {
	@extend %svg-common;
	background-position: 54.12844036697248% 55.172413793103445%;
}

.svg-icon-24-delivery-white-dims {
	width: 38px;
	height: 24px;
}

.svg-icon-24-dropbox-primary {
	@extend %svg-common;
	background-position: 93.10344827586206% 51.724137931034484%;
}

.svg-icon-24-dropbox-primary-dims {
	width: 24px;
	height: 24px;
}

.svg-icon-24-email-primary {
	@extend %svg-common;
	background-position: 93.10344827586206% 62.06896551724138%;
}

.svg-icon-24-email-primary-dims {
	width: 24px;
	height: 24px;
}

.svg-icon-24-email-primary_2 {
	@extend %svg-common;
	background-position: 93.10344827586206% 72.41379310344827%;
}

.svg-icon-24-email-primary_2-dims {
	width: 24px;
	height: 24px;
}

.svg-icon-24-facebook-primary {
	@extend %svg-common;
	background-position: 93.10344827586206% 82.75862068965517%;
}

.svg-icon-24-facebook-primary-dims {
	width: 24px;
	height: 24px;
}

.svg-icon-24-google-primary {
	@extend %svg-common;
	background-position: 0 93.10344827586206%;
}

.svg-icon-24-google-primary-dims {
	width: 24px;
	height: 24px;
}

.svg-icon-24-info-primary {
	@extend %svg-common;
	background-position: 10.344827586206897% 93.10344827586206%;
}

.svg-icon-24-info-primary-dims {
	width: 24px;
	height: 24px;
}

.svg-icon-24-linkedin-primary {
	@extend %svg-common;
	background-position: 20.689655172413794% 93.10344827586206%;
}

.svg-icon-24-linkedin-primary-dims {
	width: 24px;
	height: 24px;
}

.svg-icon-24-location-primary-copy {
	@extend %svg-common;
	background-position: 31.03448275862069% 93.10344827586206%;
}

.svg-icon-24-location-primary-copy-dims {
	width: 24px;
	height: 24px;
}

.svg-icon-24-minus-primary {
	@extend %svg-common;
	background-position: 41.37931034482759% 93.10344827586206%;
}

.svg-icon-24-minus-primary-dims {
	width: 24px;
	height: 24px;
}

.svg-icon-24-plus-primary {
	@extend %svg-common;
	background-position: 93.10344827586206% 10.344827586206897%;
}

.svg-icon-24-plus-primary-dims {
	width: 24px;
	height: 24px;
}

.svg-icon-24-radio-active-primary {
	@extend %svg-common;
	background-position: 82.75862068965517% 51.724137931034484%;
}

.svg-icon-24-radio-active-primary-dims {
	width: 24px;
	height: 24px;
}

.svg-icon-24-radio-error-error {
	@extend %svg-common;
	background-position: 82.75862068965517% 41.37931034482759%;
}

.svg-icon-24-radio-error-error-dims {
	width: 24px;
	height: 24px;
}

.svg-icon-24-radio-hover-primary {
	@extend %svg-common;
	background-position: 82.75862068965517% 31.03448275862069%;
}

.svg-icon-24-radio-hover-primary-dims {
	width: 24px;
	height: 24px;
}

.svg-icon-24-radio-standard-grey-300 {
	@extend %svg-common;
	background-position: 82.75862068965517% 20.689655172413794%;
}

.svg-icon-24-radio-standard-grey-300-dims {
	width: 24px;
	height: 24px;
}

.svg-icon-24-search-primary {
	@extend %svg-common;
	background-position: 82.75862068965517% 10.344827586206897%;
}

.svg-icon-24-search-primary-dims {
	width: 24px;
	height: 24px;
}

.svg-icon-24-toggle-off {
	@extend %svg-common;
	background-position: 38.46153846153846% 34.48275862068966%;
}

.svg-icon-24-toggle-off-dims {
	width: 48px;
	height: 24px;
}

.svg-icon-24-toggle-on {
	@extend %svg-common;
	background-position: 38.46153846153846% 44.827586206896555%;
}

.svg-icon-24-toggle-on-dims {
	width: 48px;
	height: 24px;
}

.svg-icon-24-twitter-primary {
	@extend %svg-common;
	background-position: 57.758620689655174% 68.96551724137932%;
}

.svg-icon-24-twitter-primary-dims {
	width: 24px;
	height: 24px;
}

.svg-icon-24-user-primary {
	@extend %svg-common;
	background-position: 47.41379310344828% 68.96551724137932%;
}

.svg-icon-24-user-primary-dims {
	width: 24px;
	height: 24px;
}

.svg-icon-24-whatsapp-primary {
	@extend %svg-common;
	background-position: 37.06896551724138% 68.96551724137932%;
}

.svg-icon-24-whatsapp-primary-dims {
	width: 24px;
	height: 24px;
}

.svg-icon-24-world-white {
	@extend %svg-common;
	background-position: 36.69724770642202% 55.172413793103445%;
}

.svg-icon-24-world-white-dims {
	width: 38px;
	height: 24px;
}

.svg-icon-24-zoom-in-primary {
	@extend %svg-common;
	background-position: 93.10344827586206% 41.37931034482759%;
}

.svg-icon-24-zoom-in-primary-dims {
	width: 24px;
	height: 24px;
}

.svg-icon-24-zoom-out-primary {
	@extend %svg-common;
	background-position: 82.75862068965517% 0;
}

.svg-icon-24-zoom-out-primary-dims {
	width: 24px;
	height: 24px;
}

.svg-icon-32-facebook-primary {
	@extend %svg-common;
	background-position: 71.42857142857143% 57.142857142857146%;
}

.svg-icon-32-facebook-primary-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-32-facebook-white {
	@extend %svg-common;
	background-position: 71.42857142857143% 42.857142857142854%;
}

.svg-icon-32-facebook-white-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-32-instagram-primary {
	@extend %svg-common;
	background-position: 71.42857142857143% 28.571428571428573%;
}

.svg-icon-32-instagram-primary-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-32-instagram-white {
	@extend %svg-common;
	background-position: 0 71.42857142857143%;
}

.svg-icon-32-instagram-white-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-32-twitter-primary {
	@extend %svg-common;
	background-position: 71.42857142857143% 0;
}

.svg-icon-32-twitter-primary-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-32-twitter-white {
	@extend %svg-common;
	background-position: 71.42857142857143% 14.285714285714286%;
}

.svg-icon-32-twitter-white-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-cart-black {
	@extend %svg-common;
	background-position: 56.63716814159292% 34.48275862068966%;
}

.svg-icon-cart-black-dims {
	width: 30px;
	height: 24px;
}

.svg-icon-cart-black-full {
	@extend %svg-common;
	background-position: 56.63716814159292% 44.827586206896555%;
}

.svg-icon-cart-black-full-dims {
	width: 30px;
	height: 24px;
}

.svg-icon-cart-white {
	@extend %svg-common;
	background-position: 14.15929203539823% 68.96551724137932%;
}

.svg-icon-cart-white-dims {
	width: 30px;
	height: 24px;
}

.svg-icon-delivery {
	@extend %svg-common;
	background-position: 45.45454545454545% 0;
}

.svg-icon-delivery-dims {
	width: 80px;
	height: 80px;
}

.svg-icon-quality {
	@extend %svg-common;
	background-position: 0 45.45454545454545%;
}

.svg-icon-quality-dims {
	width: 80px;
	height: 80px;
}

.svg-icon-reliable {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-icon-reliable-dims {
	width: 80px;
	height: 80px;
}

