.customers-reviews {
  text-align: center;

  h1 {
    margin-top: 80px;
    margin-bottom: 40px;
  }

  h2 {
    margin-top: 40px;
    margin-bottom: 24px;
  }

  img {
    margin: auto;
    border-radius: 40px;
  }

  .views-field-field-message .field-content {
    width: 50%;
    margin: auto;
    padding: 10px 0;
  }

  .slick-dotted.slick-slider {
    // height before dots + dots height + height after dots.
    margin-bottom: 40px + 16px + 0px;
  }

  .slick-dots {
    font-size: 16px;
    line-height: 16px;
    color: $brownish-orange;
    // height before dots + dots height + height after dots.
    bottom: -(40px + 16px + 0px);

    button {
      display: none;
    }

    li {
      width: 16px;
      height: 16px;
      @include fleur-font(icon-24-radio-hover-primary);
    }

    li.slick-active {
      @include fleur-font(icon-24-radio-active-primary);

      &:after {
        $radius: 4px;
        content: "";
        position: absolute;
        background-color: $brownish-orange;
        width: 2*$radius;
        height: 2*$radius;
        top: 25%;
        left: 25%;
        border-radius: $radius;
      }
    }
  }
}

@media #{$mobile} {
  .customers-reviews {
    padding-left: 16px;
    padding-right: 16px;

    .views-field-field-message .field-content {
      width: 100%;
    }
    .slick-dotted.slick-slider {
      // height before dots + dots height + height after dots.
      margin-bottom: 24px + 16px + 0px;
    }
    // height before dots + dots height + height after dots.
    .slick-dots {
      bottom: -(24px + 16px + 0px);
    }
  }
}
