@media #{$mobile} {
  .paragraph-image .paragraph-content {
    height: 240px;
  }
}

@media #{$tablet} {
  .paragraph-image .paragraph-content {
    height: 370px;
  }
}

@media #{$wide} {
  .paragraph-image .paragraph-content {
    height: 500px;
  }
}
