.page-404 {

  .paragraph--type--not-found-404 {
    text-align: center;
  }

  .button-wrapper {
    padding-top: 24px;
  }

  #block-back-to-homepage {
    display: block;
    width: 200px;
    background-color: $brownish-orange;
    color: $white;
    margin: auto;
    text-decoration: none;
    @include Label-Big;


    p {
      padding: 15px 10px;
    }
  }
}

@media #{$mobile} {
  .page-404 {
    height: 340px;
    margin-bottom: 240px;

    .paragraph--type--not-found-404 {
      padding-top: 250px;
    }

    .field--name-field-title {
      @include H2;
    }

    .field--name-field-description {
      @include Body-text;
    }
  }
}

@media #{$tablet} {
  .page-404 {
    height: 700px;

    .paragraph--type--not-found-404 {
      padding-top: 490px;
    }

    .field--name-field-title {
      @include H1;
    }

    .field--name-field-description {
      @include Leading-text;
    }
  }
}

@media #{$normal} {
  .page-404 {
    height: 800px;

    .paragraph--type--not-found-404 {
      padding-top: 590px;
    }
  }
}
