@mixin content-width {
  margin-left: auto;
  margin-right: auto;

  @media #{$mobile} {
    padding: 0 8px;
    width: 100%;
  }

  @media #{$tablet} {
    width: 90%;
  }

  @media #{$normal} {
    width: 75%;
  }

  @media #{$wide} {
    width: 65%;
  }

  @media #{$extra-wide} {
    width: 65%;
  }
}

@mixin checkout-width {
  margin: auto;

  @media #{$mobile} {
    padding: 0 8px;
    width: 100%;
  }

  @media #{$tablet} {
    width: 100%;
  }

  @media #{$normal} {
    width: 80%;
  }

  @media #{$wide} {
    width: 80%;
  }

  @media #{$extra-wide} {
    width: 80%;
  }
}

@mixin faq-width {
  margin: auto;

  @media #{$mobile} {
    padding: 0 8px;
    width: 100%;
  }

  @media #{$tablet} {
    width: 75%;
  }

  @media #{$normal} {
    width: 75%;
  }

  @media #{$wide} {
    width: 55%;
  }

  @media #{$extra-wide} {
    width: 55%;
  }
}