.checkout-review {

  .panel-heading {
    display: none;
  }

  #edit-review-contact-information {
    display: none;
  }

  #edit-review-fleur-shipping-information, #edit-review-fleur-payment-information {
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid $black;
  }

  .panel-default {
    border: none;
    box-shadow: none;
  }

  .panel-body {
    padding: 0;
  }

  .information-group {
    margin-bottom: 24px;
  }

  .form-group > .information-group:last-child {
    margin-bottom: 0;
  }

  .panel-title {
    @include H4;
    padding: 0;
    margin: 0 0 24px;
  }

  .information-title {
    @include Label-Big;
    margin-bottom: 8px;
  }

  .information-field {
    font-family: SourceSansPro;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    margin-bottom: 8px;
  }

  .checkout-pane-fleur-order-message, .checkout-pane-fleur-commerce-checkout-confirmation-checkbox {
    margin-bottom: 40px;
  }

}

@media #{$mobile} {
  .checkout-review {

    .checkout-order-summary {
      margin-bottom: 40px;
    }
  }
}

