.cart-form {

  thead {
    @include Label-Big;

    tr > th {
      padding-top: 0;
      padding-bottom: 16px;
      line-height: 1;
      border: unset;
    }
  }

  tbody {
    @include Cart-item-text;
    text-align: left;

    tr, tr:nth-of-type(odd) {
      background-color: transparent;
    }

    tr:hover {
      background-color: $gray-lighter;
    }

    tr > td {
      padding-top: 16px;
      padding-bottom: 16px;
      border-top: 1px solid $black;
      border-bottom: 1px solid $black;
    }
  }

  th:first-child, td:first-child {
    padding-left: 0;
  }

  th:last-child, td:last-child {
    padding-right: 0;
  }

  .views-field-nothing-2 {
    text-align: right;
  }

  .js-form-type-number {
    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type='number'] {
      -moz-appearance: textfield;
      height: 40px;
      width: 40px;
      border: 1px solid $brand-stroke-body;
      border-radius: unset;
      color: $black;
      text-align: center;
      margin-bottom: 10px;
      @include Label-Big;
    }

    .quantity-down {
      @include fleur-font(icon-24-minus-primary);
    }

    .quantity-up {
      @include fleur-font(icon-24-plus-primary);
    }

    .quantity-down, .quantity-up {
      display: inline-block;
      cursor: pointer;
      padding: 0 12px;

      &:before {
        color: $link-color;
        font-size: 16px;
        line-height: 1;
      }

      &:hover:before {
        color: $link-hover-color;
      }
    }
  }

  .order-total-line__subtotal, .order-total-line__adjustment {
    display: none;
  }

  .order-total-line__total {
    @include Cart-item-text;
    text-align: right;
    font-weight: unset;
  }

  .form-actions {
    float: right;
    margin-top: 40px;
  }

  .form-actions button {

    @include Label-Big;
    padding: 15px 16px;
    text-align: left;

    span {
      display: none;
    }

    &.btn-info {
      @include fleur-font(icon-16-check-primary);
      background-color: transparent;
      color: $brownish-orange;
      border: 2px solid $brownish-orange;
      margin-right: 24px;
      width: 196px;
    }

    &.btn-default {
      @include fleur-font(icon-16-chevron-right-primary);
      margin-right: auto;
      width: 196px;
      color: $white;
      background-color: $link-color;
      border: 2px solid $link-color;

      &:hover {
        background-color: $link-hover-color;
        border-color: $link-hover-color;
      }
    }

    &:before {
      float: right;
    }
  }
}

@media #{$mobile} {
  .cart-form {
    margin-top: 24px;
  }
}

@media #{$tablet} {
  .cart-form {
    margin-top: 80px;

    tbody tr > td {
      height: 120px;
    }

    .cell-title {
      display: none;
    }

    .cell-value {
      margin-top: 43px;
    }

    .form-type-number {
      margin-top: 35px;
    }

    .views-field-nothing {

      .cart-item {
        height: 100%;
        display: flex;
        align-items: center;
      }

      .product--field-image {
        float: left;
      }
      .cart-description {
        padding-left: 24px;
      }

      .cart--button-remove {
        @include Label-Small;

        button {
          padding: 16px 0 0;
          background-color: transparent;
          border: unset;
          color: $brownish-orange;
        }

        span {
          margin: auto;
          @include fleur-font(icon-16-delete-primary);

          &:before {
            font-size: 16px;
          }
        }

      }
    }

    .views-field-nothing-1, .views-field-nothing-2, .views-field-edit-quantity {
      width: 140px;
    }

    .views-field-nothing-1 {
    }

    .views-field-edit-quantity {
    }

    .views-field-nothing-2 {
    }
  }
}

@media #{$normal} {
  .cart-form {

  }
}

@media #{$wide} {
  .cart-form {

  }
}
