footer {
  padding-top: 0 !important;
}

.footer {
  border: 0;
  margin-top: 80px;

  &.front-footer {
    margin-top: 0;
  }
}

.fleur-site-footer.row {
  padding-top: 80px;

  h4 {
    margin-top: 0;
  }

  img {
    height: 48px;
    width: 192px;
    object-fit: contain;
  }

  .logo a {
    margin: 0;
  }
}

.fleur-site-footer p > a {
  color: $white;

  &:focus, &:hover {
    color: $white;
  }
}

.fleur-site-footer .site-follow > a {
  color: $white;
  display: inline-block;
  margin-right: 16px;
  font-size: 32px;

  &:focus, &:hover {
    text-decoration: none;
    color: $gray-dark;
  }
}

@media #{$mobile} {
  .footer {
    margin-top: 40px;

    &.front-footer {
      margin-top: 0;
    }
  }

  .fleur-site-footer.row {
    padding-top: 0;
  }

  .fleur-site-footer.row img {
    height: 48px;
    width: 185px;
  }

  .fleur-site-footer.row > div {
    text-align: center;
    padding-top: 56px;
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .fleur-site-footer .body-text {
    font-size: 18px;
  }

  .fleur-site-footer h4 {
    font-size: 22px;
  }

  .fleur-site-footer .label-big {
    font-size: 16px;
  }

  .fleur-site-footer .site-follow > a {
    font-size: 24px;
  }
}
