body.path-frontpage {
  .main-container.container {
    width: 100%;
    padding-top: 0;
  }
}

.main-container {
  padding-top: 80px;
}

@media #{$mobile} {
  .main-container {
    padding-top: 64px;
  }
  body.path-frontpage {
    .main-container.container {
      width: 100%;
      padding-top: 0;
    }
  }
}
