body.path-frontpage {
  .main-container {
    padding: 0;
  }
  .paragraph {
    @include container-fixed;

    @media (min-width: $screen-sm-min) {
      width: $container-sm;
    }
    @media (min-width: $screen-md-min) {
      width: $container-md;
    }
    @media (min-width: $screen-lg-min) {
      width: $container-lg;
    }
  }
  .par-back-wrapper {
    width: 100%;
  }
}

.main-container {
  padding-top: 80px;
}

.main-container > .row {
  margin-left: 0;
  margin-right: 0;
}

.main-container > .row > [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}

@media #{$mobile} {
  .main-container {
    padding-top: 64px;
  }
}
