#navbar-collapse {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  background: $black;
  z-index: 1000;
  opacity: 0;
  transition: 1s ease;
  -webkit-transition: 1s ease;
  visibility: hidden;

}

#navbar-collapse.show {
  visibility: visible;
  opacity: 1;
  transition: 1s ease;
  -webkit-transition: 1s ease;
}

#navbar-collapse {
  li {
    margin-right: 40px;
  }
  li.active > a, li > a:hover, li > a:focus {
    background: none;

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      top: 100%;
      left: 0;
      border-width: 1px;
      border-bottom-style: solid;
    }
  }
  li > a {
    @include Leading-text;
  }
  a {
    line-height: 1;
    padding: 0;
  }
}
#navbar-collapse {
  li.active > a:after {
    border-color: $white;
  }
  li > a, li.active > a, li.active > a:hover, li.active > a:focus {
    color: $white;
  }
}

.region-navigation-collapsible{
  display: flex;
  align-content: center;
  height: 100%;
}

#block-mobile-navigation {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  margin: auto;

  ul {
    position: absolute;
    width: 100%;
  }

  ul li {
    margin: auto;
    padding-top: 10px;
  }

  ul a {
    width: auto;
    height: auto;
  }
}

#block-place-your-order-mobile {
  width: 220px;
  height: 48px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.5);
  background-color: $brownish-orange;
  display: block;
  position: relative;
  margin: auto;
  font-size: 18px;

  p {
    padding: 15px 15px;
  }
}

.mobile_toggle_close {
  position: absolute;
  display: block;
  top: 20px;
  right: 16px;
  cursor: pointer;
}