.pager-links {
  .previous-link {
    position: relative;
    float: left;
    @include fleur-font(icon-24-chevron-left-primary);

    &:before {
      float: left;
    }
  }
  .next-link {
    position: relative;
    float: right;
    @include fleur-font(icon-24-chevron-right-primary);

    &:before {
      float: right;
    }
  }
}
