.fleur-add-extras {
  width: 100%;
}

.fleur-add-extras .form-type-radio, .fleur-add-extras .variation_wrapper {
  display: inline-block;
  vertical-align: top;
}

.fleur-add-extras .extras_img_wrapper.active img {
  border: 2px solid #d2652a;
}

.fleur-add-extras .form-actions {
  float: right;
}
